
<div class="blog-header">
  <h1 class="blog-title">{{moto.name}}</h1>
  <p class="lead blog-description">{{moto.description}}</p>
</div>
<div class="row">

  <div class="col-sm-7 blog-main">
    <div class="moto-images">
      <img ng-src="{{img}}"
           class="moto"
           ng-repeat="img in moto.images"
           ng-class="{active: mainImageUrl==img}">
    </div>
  </div>

  <div class="col-sm-5 blog-sidebar">
    <ul class="moto-thumbs">
      <li ng-repeat="img in moto.images">
        <img ng-src="{{img}}" ng-click="setImage(img)">
      </li>
    </ul>
  </div>

</div>

<ul class="specs">
  <li>
    <span>Engine</span>
    <dl>
      <dt>Type</dt>
      <dd>{{moto.engine.type}}</dd>
      <dt>Gears</dt>
      <dd>{{moto.engine.gears}}</dd>
      <dt>Transmission</dt>
      <dd>{{moto.engine.transmission}}</dd>
    </dl>
  </li>
  <li>
    <span>Cylindrical</span>
    <dl>
      <dt>cylindrical</dt>
      <dd>{{moto.cylindrical}}</dd>
    </dl>
  </li>
  <li>
    <span>Manufacter</span>
    <dl>
      <dt>Name</dt>
      <dd>{{moto.manufacter.name}}</dd>
      <dt>Country</dt>
      <dd>{{moto.manufacter.country}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in moto.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{moto.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
</ul>
